doctype html
html
	head
		title INICIAR
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="icon", type="image/png", href="/img/logo_mini.png")
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/plugins.min.css")
		link(rel="stylesheet", href="/css/common.css")
		link(rel="stylesheet", href="/css/style.css")

	body
		div.container
			div.row.full-h
				div.col-md-4.logo-container
					img(src="/img/logo.png")
				div.col-md-4.login-container
					h1.header-green.text-center INGRESO A LA PLATAFORMA
					form(action="/", method="POST")
						if messages.error
							div.alert.alert-danger.alert-dismissible(role="alert")
								button.close(type="button", data-dismiss="alert", aria-label="Close")
									span(aria-hidden="true") &times;
								strong Ups! #{messages.error}
					
						div.form-group
							label(for="username") Usuario
							input.form-control(type="text", name="username", autocomplete="off")

						div.form-group
							label(for="username") Contraseña
							input.form-control(type="password", name="password")

						div.form-group.submit-area
							button.submit(type="submit") INGRESAR