doctype html
html(lang="en", dir="ltr")
   head
      meta(charset="utf-8")
      title Tuyob one2one
      meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
      link(rel="stylesheet", href="/css/font-awesome.css")
      link(rel="stylesheet", href="/css/sweetalert2-custom.css")
      link(rel="stylesheet", href="/css/bootstrap.css")
      link(rel="stylesheet", href="/css/instantInterview.beta.css")
      link(rel="stylesheet", href="/toastr.min.css")
      script.
         var params = {
             room: "#{room}",
             role: "#{role}",
             username: "#{username}",
             interviewedName: "#{interviewedName}",
             interviewerName: "#{interviewerName}"
         }
   
   body
      div#app(v-cloak)
         div.chat-content-wrapper(:class="[showChat?'grid3cl':'grid2cl']")
            section.call-container
               div.video-container-remote
                  div.timer-left-container
                     div.timer-left
                        div.record-shape
                        div.record-timer 30:00
                     
                  video#remote(autoplay="autoplay", width="auto", height="auto")
               
               div.video-container-self(data-img="/tuyob/img/200x150.jpg?1528813963")
                  div#video-self-dom
                     video#local(muted, autoplay, width="auto" height="auto")
                  
                  div.call-btns(v-if="user.role == 'interviewer'")
                     button.btn.btn-primary(v-if="awaitingToHangup")
                        i.fa.fa-clock-o
                     button.btn.btn-danger(v-else, @click.prevent="warnLeave")
                        i.fa.fa-phone.fa-rotate-135
                  
               
            
            div.toggle-chat
               button.btn.btn-default(@click="toggleChatContainer()")
                  i.fa(:class="[showChat?'fa-angle-right':'fa-angle-left']")
            
            aside.chat-container(v-show="showChat")
               div.chat-header
                  div.pull-left
                     img.img-circle(:src="user.local.avatar")
                  h3(style="margin: 0px 0px 0px 10px; width: 300px", v-text="user.local.name")
                  if(role == 'interviewer')
                        div(style="position: absolute; right: 0")
                              form(action="/logout", method="post")
                                    button(type="submit").sign-out #[i.fa.fa-sign-out] Salir
               
               p.text-green.text-center Bienvenido(a)
               div.chat-body
                  div.messages-container
                     ul
                        li.chat-item(:class="[msg.isSelf?'self':'other']", v-for="msg in messages")
                           div.user
                              img.img-circle(:src="msg.avatar")
                           
                           span(v-text="msg.time")
                           div.text
                              p(v-text="msg.content")
                           
                  div.wait-container(style="display: none;")
               div.inputSent
                  button#share-file
                     i.fa.fa-paperclip(aria-hidden="true")
                  form(@submit.prevent="sendMessage")    
                     input#input-text-chat(type="text", placeholder="Escribe tu Mensaje ...", v-model="messageText", autocomplete="off")
                     button.btn-submit(type="submit")
                        i.fa.fa-fw.fa-arrow-right(aria-hidden="true")
                  
            footer.main-footer
               div.redes
                  a.red(href="https://www.facebook.com/TuYob-Colombia-203316810208163", target="_blank", data-toggle="tooltip", data-original-title="Facebook")
                     i.fa.fa-facebook
                  
                  a.red(href="https://www.linkedin.com/company/tuyob-colombia", target="_blank", data-toggle="tooltip", data-original-title="Linkedin")
                     i.fa.fa-linkedin
                  
                  a.red(href="https://twitter.com/TuYob_Colombia", target="_blank", data-toggle="tooltip", data-original-title="Twitter")
                     i.fa.fa-twitter
                  
                  a.red(href="https://www.youtube.com/channel/UCt-_wPCJ347ZpJ__Ct5JlXA", target="_blank", data-toggle="tooltip", data-original-title="Youtube")
                     i.fa.fa-youtube
                  
               
               div.copyright.
                  | TuYob © 2017 | #[a(href="javascript:;")  Privacy Policy |] #[a(href="javascript:;") Terms of Service]

      script(src="/jquery.min.js")
      script(src="/js/bootstrap.js")
      script(src="/vue.js")
      script(src="/toastr.min.js")
      script(src="/sweetalert2.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="/js/wrtc/adapter.js")
      script(src="/js/wrtc/wrtc.js")
      script(src="/js/lib/FileBufferReader.js")
      script(src="/js/tuyob/tuyob-webrtc.js")
      script(src="/js/tuyob/videochat.js")