doctype html
html(lang="en")
    head
        title Entrevistas
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="icon", type="image/png", href="/img/logo_mini.png")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/plugins.min.css")
        link(rel="stylesheet", href="/css/common.css")
        link(rel="stylesheet", href="/css/style.css")
    
    body
        div.container
            div.row
                br
                br
                div.col-md-12
                    h1.text-center=user.name

            div.row
                div.col-md-12
                    br
                    ul.nav.nav-tabs
                        li.active
                            a(data-toggle="tab", href="#tab-1") Programar entrevista
                        li
                            form(action="/logout", method="POST")
                                button.btn.btn-default #[i.fa.fa-sign-out] Salir

                    div.tab-content
                        div#tab-1.tab-pane.fade.in.active
                            div.row
                                br
                                form.form-h(action="/interview/add", method="POST").col-md-8
                                    div.form-group
                                        label.label-control Nombre del aspirante
                                        input.form-control(type="text", name="interviewed")
                                    
                                    div.form-group
                                        button.btn.btn-primary.btn-lg #[i.fa.fa-plus] Añadir
                            div.row
                                
                                div.interviews-container
                                    span.pagination-info Pag. #{page} de  #{pages}
                                    
                                    div.table-responsive
                                        table.table.table-condensed.table-hover
                                            thead
                                                tr
                                                    th #
                                                    th Fecha
                                                    th Nombre del aspirante
                                                    th Link entrevistador
                                                    th Link aspirante
                                                    th Acciones
                                                tbody
                                                    each interview, index in interviews
                                                        tr
                                                            td #{index + 1}
                                                            td #{interview.dateFrt}
                                                            td.name-interviewed=interview.interviewed
                                                            td
                                                                a.link-action.btn.btn-xs(href=`/one2one/${interview.room}/interviewer`, target="_blank") #[i.fa.fa-link] Abrir
                                                                button.link-action.btn.btn-xs.clipboard(style="margin-left: 5px", data-clipboard-text=`/one2one/${interview.room}/interviewer`, target="_blank") #[i.fa.fa-clipboard] Copiar
                                                            td
                                                                button.link-action.btn.btn-xs.clipboard(style="margin-left: 5px", data-clipboard-text=`/one2one/${interview.room}/interviewed`) #[i.fa.fa-clipboard] Copiar
                                                            td
                                                                button.edit-interview.link-action.btn-btn-xs(data-id=interview._id) #[i.fa.fa-pencil] Editar
                                        if(nItems > perPage)        
                                            ul.pagination
                                                li(class=page==1?'disabled':'')
                                                    a(href=page==1?'javascript:void(0)':'/start/1') #[i.fa.fa-caret-left]#[i.fa.fa-caret-left]
                                                li(class=page==1?'disabled':'')
                                                    a(href=page==1?'javascript:void(0)':`/start/${page-1}`) #[i.fa.fa-caret-left]
                                                each i in range(1, pages+1)
                                                    li(class=i==page?'active':'') #[a(href=`/start/${i}`)= i]
                                                li(class=page==pages?'disabled':'')
                                                    a(href=page==pages?'javascript:void(0)':`/start/${page+1}`) #[i.fa.fa-caret-right] 
                                                li(class=page==pages?'disabled':'')
                                                    a(href=page==pages?'javascript:void(0)':`/start/${pages}`) #[i.fa.fa-caret-right]#[i.fa.fa-caret-right]                                        

    script(src="/jquery.min.js")
    script(src="/js/bootstrap.js")
    script(src="/clipboard.min.js")
    script(src="/js/tuyob/crud.js")



