/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset --*/
html,body,div,span,applet,object,iframe,h1,h1,h2,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*-- start editing from here --*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*-- end reset --*/
body {
    font-family: 'Open Sans', sans-serif;
    background: url(/img/bg.jpg)no-repeat center 0px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-attachment: fixed;
}
/*-- main --*/
.agileinfo-row {
    width: 65%;
    margin:0 auto;
}
/*-- top-nav --*/
.w3top-nav-right {
    margin-top: 4em;
}
.w3top-nav-left h1 {
    font-size: 3em;
    font-weight: 100;
    line-height: .9em;
}
.w3top-nav-left h1 a {
    color: #fff;
}
.w3top-nav-right ul li {
    display: inline-block;
    margin:0 1.2em;
}
.w3top-nav-right ul li a{
    color:#fff;
    font-size: 1em;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.w3top-nav-right ul li a:hover{
    color:#1b988a;
}
/*-- //top-nav --*/
/*-- //errortext --*/
.w3layouts-errortext{
    text-align: center;
}
h1 {
    font-size: 1.2em;
    color: #fff;
    font-weight: 900;
    line-height: 1.8em;
}
p.w3lstext {
    font-size: 0.9em;
    color: #fff;
    line-height: 1.8em;
    font-weight: 400;
    width: 65%;
    margin: 1.5em auto 2.5em;
}

a,
p.w3lstext a {
    color: #1b988a;
}

a:hover,
p.w3lstext a:hover{
    color: #1da293;
}
.agile-search input[type="text"] {
    width: 50%;
    padding: 0.8em 1.5em;
    font-size: 1em;
    color: #fff;
    outline: none;
    border: 1px solid #1b988a;
    background: none;
    border-radius: 50px;
    -webkit-appearance: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}
.agile-search input[type="submit"] {
    outline: none;
    box-shadow: none;
    background: #1b988a;
    border: 1px solid #1b988a;
    padding: .8em 3em;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1em;
    margin-left: 0.5em;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}
.agile-search input[type="submit"]:hover {
    color: #1b988a;
    background: transparent;
}
::-webkit-input-placeholder {
    color:#fff !important;
}
:-moz-placeholder { /* Firefox 18- */
    color:#fff !important;
}
::-moz-placeholder {  /* Firefox 19+ */
    color:#fff !important;
}
:-ms-input-placeholder {
    color:#fff !important;
}
/*-- errortext --*/
/*-- copyright --*/
.copyright {
    margin:3em 0 2em;
    text-align: center;
}
.copyright p {
    font-size: 1em;
    color: #fff;
    line-height:1.8em;
}
.copyright p a{
    color: #fff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.copyright p a:hover{
    color: #1b988a;
}
/*-- //copyright --*/
/*-- //main --*/
.w3layouts-errortext h2{
    font-size: 14em;
    letter-spacing: 20px;
    color: #fff;
}
span {
    color: #1b988a;
}

.social-networks{
    color: #FFFFFF;
    text-align: center !important;
    margin-top: 80px;
}

.social-networks a{
    width: 50px;
    height: 50px;
    color: #FFFFFF;

}

.rights{
    color: #FFFFFF;
    text-align: center;
    margin: 20px 0 5px 0;
}

.social-networks a.red {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border-radius: 50%;
    border: none;
    color: rgba(255,255,255,1);
    border: 2px solid rgba(255,255,255, 1);
    background: transparent;
    font-size: 17px;
    text-align: center;
    margin: 0 7px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
}

.social-networks a.red:hover {
    color: rgba(255,255,255,0.7);
    border: 2px solid rgba(255,255,255,0.7);
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
}
/*-- responsive-design --*/
@media(max-width:1366px){
    p.w3lstext {
        width: 75%;
    }
}
@media(max-width:1080px){
    .agileinfo-row {
        width: 75%;
    }
}
@media(max-width:991px){
    p.w3lstext {
        width: 85%;
    }
}
@media(max-width:900px){
    .agileinfo-row {
        width: 85%;
    }
    .w3top-nav {
        padding-top: 2em;
    }
    .w3layouts-errortext {
        padding-top: 5em;
        text-align: center;
    }
    .w3top-nav-right ul li {
        margin: 0 1em;
    }
    p.w3lstext {
        width: 95%;
    }
}
@media(max-width:736px){
    .w3layouts-errortext {
        padding-top: 3em;
    }
}
@media(max-width:667px){
    .w3top-nav-right ul li {
        margin: 0 0.5em;
    }
    h1 {
        font-size: 1em;
    }
    p.w3lstext {
        width: 100%;
        font-size: 0.85em;
        line-height: 2em;
    }
    .copyright {
        margin: 2em 0 2em;
    }
    .w3layouts-errortext {
        padding-top: 2em;
    }
}
@media(max-width:480px){
    .w3top-nav-left,.w3top-nav-right{
        float: none;
        text-align: center;
    }
    .w3top-nav-right {
        margin-top: 1.5em;
    }
    .w3top-nav-right ul li a {
        font-size: 0.9em;
    }
    .w3top-nav-right ul li {
        margin: 0 1em;
    }
    .w3layouts-errortext img {
        width: 52%;
    }
    h1 {
        font-size: 0.9em;
    }
    .agile-search input[type="text"],.agile-search input[type="submit"]{
        font-size: 0.9em;
    }
    .copyright p {
        font-size: 0.9em;
        padding: 0 1em;
    }
    .w3layouts-errortext {
        padding-top: 6em;
    }
}
@media(max-width:414px){
    .w3layouts-errortext h2 {
        font-size: 9em;
    }
    .w3layouts-errortext {
        padding-top: 2em;
    }
    .agile-search input[type="text"] {
        width: 80%;
        margin-bottom: 1em;
    }
}
@media(max-width:384px){
    .agile-search input[type="text"] {
        width: 85%;
    }
    .agile-search input[type="submit"] {
        margin: 0em 0 0 0;
        padding: .7em 2em;
    }
    .w3top-nav {
        padding-top: 1em;
    }
    p.w3lstext {
        font-size: 0.8em;
    }
    .agileinfo-row {
        width: 87%;
    }
    .w3layouts-errortext {
        padding-top: 1em;
    }
    .w3layouts-errortext h2 {
        letter-spacing: 10px;
    }
}
@media(max-width:320px){
    .w3top-nav-right ul li a {
        font-size: 0.85em;
    }
    .w3top-nav-right ul li {
        margin: 0 0.6em;
    }
    h1 {
        font-size: 0.85em;
    }
    p.w3lstext {
        margin: 0.8em auto;
    }
    .w3layouts-errortext {
        padding-top: 0em;
    }
    .w3top-nav-right {
        margin-top: 1em;
    }
    .agile-search input[type="submit"] {
        padding: .6em 2em;
    }
    .copyright {
        margin: 1em 0 1em;
    }
    .copyright p {
        font-size: 0.8em;
    }
    .w3layouts-errortext h2 {
        font-size: 7em;
    }
}
/*-- //responsive-design --*/
