body{
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

[v-cloak] > * { display:none; }
[v-cloak]::before {
    position: absolute;
    content: "Espere, por favor";
    color: #ffffff;
    background-color: #0a384f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000000000;
}

.swal2-popup {
    font-size: 1.6rem !important;
}

.swal2-container{
    z-index: 10000000000;
}


.chat-content-wrapper {
    display: grid;

    height: 100vh;
    width: 100vw;

    background-color: #262a35;
    /*background-image: url("../img/bg_admin.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;*/
}

.grid3cl {
    grid-template-areas:
        "section  toggle chat"
        "foot foot foot";
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 20px 450px;
}

.grid2cl {
    grid-template-areas:
        "section  toggle"
        "foot foot";
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 20px;
}


.call-container{
    padding: 40px 25px 100px 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 15px 30px 15px 15px;
}

.chat-container{
    grid-area: chat;
}

.chat-container .chat-header {
    border-bottom: 2px solid #d6d6d6;
    display: flex;
    align-items: center;
    padding: 5px;
    color: #444444;
}

.chat-container .chat-header .sign-out{
    padding: 20px 10px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-size: 1.5rem;
    color: rgb(143, 143, 143);
    border: none;
    background: transparent;
    outline: none !important;
}

.chat-container .chat-header .sign-out:hover,
.chat-container .chat-header .sign-out:focus{
    border-bottom: 1px solid transparent;
    padding-bottom: 0 5px 3px 5px;
    outline: none !important;
}
.chat-container .chat-header .sign-out i{
    display: table;
    position: relative;
    top: -3px;
    margin-right: 2px
}

/*.video-container-remote{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;

}
.video-container-remote video{
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
}*/

/*hola */
.video-container-remote {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 480px);
    height: calc(100vh - 80px);
    /*background-image: url("../img/800x600.jpg");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #343B4B;
    background: #2C313E;

    
}



.call-container > div{
    width: 100%;
    overflow: hidden;
}

.video-container-remote  video {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media screen and (max-aspect-ratio: 1920/1080) {
    .video-container-remote > video {
        height: 120%;
    }
}
@media screen and (min-aspect-ratio: 1920/1080) {
    .video-container-remote > video {
        width: 120%;
    }
}

#video-self-dom{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    min-height: 133.5px;
    max-height: 133.5px;
    overflow: hidden;
    border: 1px solid #343B4B;
}

#video-self-dom video{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.video-container-self{
    width: 180px !important;
    height: 160px !important;
    position: absolute;
    margin-bottom: -5px;
    bottom: 0;
    align-self: center;
    z-index: 1000;
    overflow: visible !important
}

.chat-container{
    background: #f0f0f0 url(../img/patterChat.png) center repeat;
    display: grid;
    grid-template-rows: 80px 20px 1fr 100px;
    grid-template-columns: 1fr;
}

.messages-container{
    overflow-y: scroll;
    height: calc(100vh - 250px);
    position: relative;
}
.chat-container .chat-body{
    position: relative;
}
.chat-container .chat-body  ul{
    list-style: none;
    margin: 0px;
    padding: 5px 15px;

}
.chat-container .chat-body .chat-item {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 0px 20px 50px;
    position: relative;
}
.chat-container .chat-body .chat-item:after {
    content: '';
    clear: both;
    display: block;
}
.chat-container .chat-body .chat-item .user {
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    left: 0px;
    top: 0;
}
.chat-container .chat-body .chat-item .user img {
    width: 100%;
    min-height: 100%;
    background: #f3f3f3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    border-radius: 50%;
}
.chat-container .chat-body .chat-item span {
    position: absolute;
    z-index: 2;
    font-size: 10px;
    color: #484e5d;
    left: 0px;
    top: 30px;
    margin: 3px 0 0 -8px;
}

.chat-container .chat-body .chat-item.other span{
    margin: 3px -8px 0 3px;
}

.chat-container .chat-body .chat-item .text {
    background: #fff;
    color: #484e5d;
    border-radius: 6px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    float: left;
    width: auto;
    max-width: 90%;
}
.chat-container .chat-body .chat-item .text:before {
    right: 100%;
    top: 8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136,183,213,0);
    border-right-color: #fff;
    border-width: 5px;
}
.chat-container .chat-body .chat-item .text p {
    margin: 0;
    line-height: 15px;
    font-size: 12px;
}
.chat-container .chat-body .chat-item.other {
    padding: 10px 50px 10px 10px;
}
.chat-container .chat-body .chat-item.other .user {
    right: 0;
    left: auto;
}
.chat-container .chat-body .chat-item.other span {
    left: auto;
    right: 2px;
}
.chat-container .chat-body .chat-item.other .text {
    background: #262a35;
    color: #fff;
    float: right;
}
.chat-container .chat-body .chat-item.other .text p {
    color: #fff;
}
.chat-container .chat-body .chat-item.other .text:before {
    display: none;
}
.chat-container .chat-body .chat-item.other .text:after {
    left: 100%;
    top: 8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194,225,245,0);
    border-left-color: #262a35;
    border-width: 5px;
}


.chat-container .inputSent {
    width: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 10px;
    border-top: 2px solid #d6d6d6;
    position: relative;


}
.chat-container .inputSent form {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr;
    box-shadow: 1px 1px 5px #d6d6d6;
    border: 1px solid #d6d6d6;
    padding-right: 5px;
}
.chat-container .inputSent input {
    border: none;
    width: 100%;
    height: 100%;
    color: #696969;
    font-size: 12px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
}

.chat-container .inputSent .btn-submit {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 35px;
    text-align: center;
    background-color: #B8E986;
    color: #fff;
    border: none;
    right: 5px;
    margin: auto;
    font-size: 20px;
    outline: none;
}

.chat-container .inputSent .btn-submit:hover {
    background-color: #c0f38c;
}


.chat-container .inputSent #share-file{
    position: absolute;

    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #357CD7;
    color: #fff;
    border: none;
    right: 5px;
    margin-right: 65px;
    margin-top: 20px;
    font-size: 15px;
    outline: none;
}

.toggle-chat{
    grid-area: toggle;
    margin: 0;
    width: 37px;
    display: flex;
    align-items: center;
    position: relative;
}
.toggle-chat button{
    position: absolute;
    border-radius: 100%;
    height: 37px;
    width: 37px;
    left: 0;
    margin-left: -21px;
    outline: none !important;
}

.toggle-chat button i{
    display: block;
    margin-top: -1px;
    font-size: 20px;
    color: rgb(27, 152, 138);
}



.main-footer {
    grid-area: foot;
    background: #3e3e58;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer .redes{
    margin-right: 10px;
}

.main-footer .redes a.red {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 50%;
    border: none;
    color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    font-size: 15px;
    text-align: center;
    margin: 0 5px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
}

.main-footer .redes a.red:hover {
    color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
}

.main-footer .copyright {
    font-size: 11px;
    margin-left: 10px;
    color: #ffffff;
}

.main-footer .copyright a {
    color: #FFFFFF;
}

.text-green {
    color: #1b988a !important;
}


@media (max-width: 1000px) {
    .grid3cl {
        grid-template-areas:
            "section"
            "foot";
        grid-template-rows: 1fr 50px;
        grid-template-columns: 1fr;
    }

    .grid2cl {
        grid-template-areas:
            "section"
            "foot";
        grid-template-rows: 1fr 50px;
        grid-template-columns: 1fr;
    }

    .call-container{
        margin: 10px;
    }

    .toggle-chat,
    .chat-container{
        position: absolute;
        height: calc(100vh - 50px);
        box-sizing: border-box;
    }

    .chat-container{
        z-index: 900000;
        width: 100vw;
        right: 0;
        top: 0;

    }

    .toggle-chat{
        left: auto;
        right: 0;
    }

    .toggle-chat button{
        top: 0;
        z-index: 2000000;
        margin-top: 20px;
    }

}

/* Inicio Revisar */
.call-buttons button{
    border-radius: 100%;
    margin: 20px;
    outline: none !important;
}

.dialog-show{
    margin-left: 0 !important;
}

.calling-await-dialog{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.85);
    z-index: 200000000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -100vw;
}

.calling-await-dialog button{
    outline: none !important;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    font-size: 3rem;
}

.calling-await-content{
    background-color: #0a384f;
    color: #ffffff;
    width: 280px;
    padding: 15px ;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
}


.calling-await-body{

    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.calling-await-body span{
    font-size: 1.5rem;
}

/*Fin revisar*/

.call-btns{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: -10px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.call-btns button{
    border-radius: 100%;
    height: 36px;
    outline: none !important;
}

.call-btns button.bw{
    width: 36px;
    padding: 3px;
}


.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.wait-container{
    background: #f0f0f0 url(../img/patterChat.png) center repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}


.timer-left-container{
    display: none;
}

.timer-left{
    background-color: rgba(38,42,53, .7);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 13px;
    position: absolute;
    z-index: 1000000000000;
    margin: 10px;
}

.timer-left .record-shape{
    height: 45px;
    width: 45px;
    background-color: #ff463f;
    border: 4px solid #F6F6F6;
    box-shadow: 0px 0px 10px #F6F6F6;
    border-radius: 100%;
    margin-right: 10px;
}

.timer-left .record-timer{
    color: #F6F6F6;
    font-size: 2.8rem;
}
