*:focus {
	border-color: #25978A !important;
    outline: 0px !important;
    border-width: 2px;
     -webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.container > .row.full-h{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo-container{
	box-sizing: border-box;
	padding: 10px 50px;
}

.login-container{
	background: #262A35;
	padding: 0;
	box-shadow: 0px 0px 20px #484849;
}

.login-container form{
	color: #FFFFFF;
	padding: 30px 15px 15px 20px;
}

.login-container form label{
	font-weight: lighter;
	padding-bottom: 3px;
}

.login-container form .submit{
	background: #25978A;
	border: #29ADA0;
	padding: 10px;
	width: 50%;
	margin: 0 auto;
}

.login-container form .submit:hover{
	background: #29AEA1;
}

.submit-area{
	padding-top: 10px;
	display: flex;
	justify-content: center;
}

.alert.alert-danger{
	background: #ED373B;
	border-radius: 0;
	color: #FFFFFF;
	border: 1px solid red;
	padding: 10px;
	font-weight: lighter;
}

.alert.alert-danger .close{
	right: 0 !important;
}


h1.header-green{
	background: #25978A;
	font-weight: lighter;
	display: block;
	padding: 10px 0;
}


.nav-tabs > li > a{
	border-radius: 0;
	background: #FFFFFF;
	
}

.nav-tabs > li.active > a{
	background: #1da293 !important;
	border-color: #1da293;
	color: #FFFFFF;
}

.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	background: #1da293 !important;
	border-color: #1da293;
	color: #FFFFFF;
}

.nav-tabs > li form button{
	height: 43px;
	border: none;
}

.tab-pane{
	background: #2A2F38;
	color: #FFFFFF;
	padding: 10px 15px;
}

.form-group .label-control{
	margin-bottom: 5px;
}

.form-control{
	border-radius: 0;
	padding: 20px 10px;
}

.btn{
	border-radius: 0;
}

.form-h{
	display: flex;
	align-items: flex-end;
}

.form-h button{
	height: 42px;
	margin-left: 15px;
	line-height: 0;
}

.form-h input{
	width: 400px;
}

.btn-primary{
	background-color: #1da293;
	border: 1px solid #29ADA0;
}


.btn-primary:hover,
.btn-primary:focus{
	background-color: #29ADA0;
	border: 1px solid #1da293;
}

.interviews-container{
	padding: 0 20px 20px 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
	border: none !important;
}

.table td{
	font-size: .8rem;
}

.table th{
	background-color: #1da293;
	margin-bottom: 5px;
}

.table td{
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	background-color: rgba(0, 0, 0, .2)
}

.table-hover tr:hover{
	background-color: rgba(0, 0, 0, .3) !important;
	
}

.link-action{
	background-color: transparent;
	border: 1px solid #1da293;
	color: #1da293;
}

.link-action:hover,
.link-action:focus{
	color: #1da293;
}

.name-interviewed input{
	background: transparent;
	border: 1px solid #1da293;
	padding: 3px 5px;
	width: 200px;
}

.name-interviewed i{
	background: #1da293;
	padding: 6px;
	border-radius: 100%;
	cursor: pointer;
	width: 23px;
	height: 23px;
}

.name-interviewed i.fa-check{
	background: #1da293;
}

.name-interviewed i.fa-times{
	background: #ED373B;
	line-height: 10px;
}

.name-interviewed i.fa-check:hover,
.name-interviewed i.fa-check:focus{
	background: #2ebeae;
}

.name-interviewed i.fa-times:hover,
.name-interviewed i.fa-times:focus{
	background: #EE4D53;
}

.pagination-info{
	padding-bottom: 10px;
	display: table;
}

.pagination > li > a{
	background-color: rgba(0, 0, 0, .2) !important;
	color: #FFFFFF;
	border-color: #484849;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-color: #484849;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #484849;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
	border-color: #484849;
	color: #FFFFFF;
	background-color: #1da293 !important;
}


.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{
	border-color: #484849;
	color: #FFFFFF;
	background-color: #1da293 !important;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{
	border-color: #484849;
	background-color: rgba(0, 0, 0, .2) !important;
}
/*.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {*/