doctype html
html
    head
        title Error 404
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel="icon", type="image/png", href="/img/logo_mini.png")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/plugins.min.css")
        link(rel="stylesheet", href="/css/common.css")

    body
        div.agileits-main
            div.agileinfo-row
                div.w3layouts-errortext
                    h2 5#[span 0]0
                        h1 ¡Lo sentimos! ha ocurrido un error interno
                    
                    p.w3lstext Ha sido dirigido para hacer clic en un enlace que no se puede encontrar. Verifique la URL o vaya a <a href="https://tuyob.com.co/">pagina de inicio</a> y vea si puede encontrar lo que está buscando            </p>

                    div.w3top-nav-right
                        ul
                            li #[a(href="https://tuyob.com.co/") Inicio]
                            li #[a(href="https://tuyob.com.co/users/register") Tú Como Aspirante]                    
                            li #[a(href="https://tuyob.com.co/companies/register") Tú Como Empresa]                    
                            li #[a(href="https://tuyob.com.co/users/partner") Tú Como Psicólogo]                    
                            li #[a(href="https://tuyob.com.co/users/login") Ingresa]
                    
        section.social-networks
            a.red.face(href="https://www.facebook.com/TuYob-Colombia-203316810208163", target="_blank")
                i.fa.fa-facebook
            a.red.youtube(href="https://www.linkedin.com/company/tuyob-colombia", target="_blank")
                i.fa.fa-linkedin
            a.red.twitter(href="https://twitter.com/TuYob_Colombia", target="_blank")
                i.fa.fa-twitter
            a.red.twitter(href="https://www.youtube.com/channel/UCt-_wPCJ347ZpJ__Ct5JlXA", target="_blank")
                i.fa.fa-youtube
        
        p.rights.text-center TuYob © 2017 - Todos los Derechos Reservados
        h4.text-center
            a(href="https://tuyob.com.co/pages/privacy-policies") Políticas de privacidad
        